footer {
  background-color: black;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;

  p {
    font-family: $poppins;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
  }
}
