body {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

header {
  margin-top: 50px;
}

main {
  padding: 0 0 50px 0;
}

.scoreBoard {
  display: flex;
  justify-content: space-evenly;
  background-color: $blue;
  width: 80%;
  margin: 0 auto;
  color: #f8f3f8;
  border-image: url("../assets/frame.png") 42 round;
  background-clip: padding-box;
  border-width: 21px;
  border-style: solid;
  text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010,
    1px 1px 0 #181010;
}

.wrapper {
  max-width: 1280px;
  width: 50%;
  margin: 0 auto;

  @media (max-width: 1000px) {
    width: 90%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 80%;
  max-height: 70vh;
  min-height: 40vh;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  padding: 0 0 20px;
  background-color: rgba($color: #f8f3f8, $alpha: 0.5);
  // border-radius: 40px;
  border-image: url("../assets/frame.png") 42 round;
  border-width: 21px;
  border-style: solid;
  background-clip: padding-box;
  position: relative;

  @media (max-width: 700px) {
    min-height: 50vh;
  }

  .displayPokemon {
    width: 60%;
    min-width: 250px;
    max-width: 1280px;
    max-height: 50%;
    margin: 10px auto 0px;
    // border:2px orange solid;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 25%);
    grid-template-rows: repeat(2, 50%);
    list-style: none;
    padding: 0;

    li {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      // padding:20px;
    }

    // pokemon images themselves
    .back {
      width: 100%;
      height: 100px;
      position: absolute;
      top: 0;

      img {
        margin: auto;
        background-color: bisque;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-height: 600px) {
          height: 70px;
        }
      }
    }

    // back of pokemon cards
    .front {
      position: relative;
      z-index: 100;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        animation: bounce 1s infinite;
      }
      &:active {
        animation: flip 0.5s linear 5s infinite;
      }
    }
    img {
      width: 100%;
    }
  }
}

.message {
  visibility: hidden;
  height: 20px;
}
.appear {
  visibility: visible;
}

.flipped {
  animation: flip 0.5s linear;
}

.hide {
  opacity: 0;
  animation: disappear 0.4s, flip 1s;
}

.button {
  font-family: $pokemonGB;
  color: #181010;
  border: none;
  padding-left: 15px;
  font-size: 0.8rem;
  background-color: transparent;
  visibility: hidden;
  position: relative;
  cursor: pointer;
  margin-top: 20px;

  &:hover::before,
  &:focus::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 2px;
    font-size: 2px;
    color: #181010;
    box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
      2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010,
      3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010,
      3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
      2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010,
      2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
  }
}

.musicButton {
  visibility: visible;
  display: block;
  margin: 20px auto 0;
}

.startGame {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: rgba($color: #f8f3f8, $alpha: 0);
  z-index: 200;

  form {
    display: flex;
    flex-direction: column;
  }
  .difficulty {
    display: flex;
    flex-direction: column;
    border: none;
    margin-bottom: 10px;
  }

  legend {
    font-size: 0.8rem;
  }

  input {
    visibility: hidden;

    &:focus + label {
      color: red;
    }
  }

  input,
  label {
    cursor: pointer;
    position: relative;
  }
  input[type="radio"]:checked + label {
    color: $blue;
  }
  input[type="radio"]:checked + label:before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 2px;
    height: 2px;
    font-size: 2px;
    box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
      2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010,
      3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010,
      3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
      2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010,
      2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
  }
  label {
    &:hover::before,
    &:focus::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 2px;
      height: 2px;
      font-size: 2px;
      color: #181010;
      box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
        2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010,
        2em 2em 0 #181010, 3em 2em 0 #181010, 4em 2em 0 #181010,
        1em 3em 0 #181010, 2em 3em 0 #181010, 3em 3em 0 #181010,
        4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
        2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010,
        1em 5em 0 #181010, 2em 5em 0 #181010, 3em 5em 0 #181010,
        1em 6em 0 #181010, 2em 6em 0 #181010;
    }
  }

  .startButton {
    font-family: $pokemonGB;
    border: none;
    margin: 0 auto;
    padding: 15px 30px;
    background-color: $blue;
    color: white;
    transition: background-color 0.3s;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: rgba($color: black, $alpha: 0.5);
    }

    @media (max-width: 500px) {
      width: 90%;
    }
  }
}

//loader
//Inspired by codepen
.loader {
  position: relative;
  margin-top: 100px;
  height: 50px;
  width: 50px;
  background: linear-gradient(to bottom, rgb(254, 0, 1) 50%, white 50%);
  border-radius: 50%;
  border: 4px solid black;
  animation: spin 1s linear infinite;
  display: none;

  &:before {
    content: "";
    position: absolute;
    height: 4px;
    width: 44px;
    background: black;
    top: 22px;
    transform: translatey(-50%);
  }

  &:after {
    content: "";
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: white;
    top: 21px;
    left: 21px;
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 4px black, inset 0 0 0 5px white,
      inset 0 0 0 6px black;
  }
}

// disappear animation

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
// flip animation
@keyframes flip {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

@keyframes flipBack {
  from {
    transform: rotateY(90deg);
    opacity: 1;
  }
}

// message appear animation{
@keyframes appear {
  from {
    opacity: 1;
  }
}

// bounce animation

@keyframes bounce {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

//Spin animation
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
