body {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
}

main {
  padding: 0 0 50px 0;
}

.scoreBoard {
  display: flex;
  padding-left: 20px;
  background-color: #48a058;
  color: #f8f3f8;
  text-shadow: -1px -1px 0 #181010, 1px -1px 0 #181010, -1px 1px 0 #181010,
    1px 1px 0 #181010;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  border-image: url("../assets/frame.png") 42 round;
  border-width: 21px;
  border-style: solid;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  padding: 50px 0;
  background-color: rgba($color: #f8f3f8, $alpha: 0.5);
  // border-radius: 40px;
  border-image: url("../assets/frame.png") 42 round;
  border-width: 21px;
  border-style: solid;
  background-clip: padding-box;

  .displayPokemon {
    width: 50%;
    min-width: 250px;
    max-width: 1280px;
    margin: 0 auto 20px;
    // border:2px orange solid;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    list-style: none;
    padding: 0;

    li {
      position: relative;
      width: 100%;
      height: 100%;
      cursor: pointer;
      // padding:20px;
    }

    // pokemon images themselves
    .back {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;

      img {
        margin-top: 20px;
        background-color: bisque;
        border-radius: 50%;
      }
    }

    // back of pokemon cards
    .front {
      position: relative;
      z-index: 100;
      // transform:translateY(0);

      &:hover {
        animation: bounce 1s infinite;
      }
      &:active {
        animation: flip 0.5s linear 5s infinite;
      }
    }
    img {
      width: 100%;
    }
  }
}

h2 {
  font-family: $pokemonGB;
  font-size: 1rem;
}

p {
  font-family: $pokemonGB;
}

.message {
  visibility: visible;
}
.appear {
  visibility: visible;
}

.flipped {
  animation: flip 0.5s linear;
}

.hide {
  opacity: 0;
  animation: disappear 0.4s, flip 1s;
}

.button {
  font-family: $pokemonGB;
  color: #181010;
  border: none;
  padding-left: 15px;
  font-size: 0.8rem;
  background-color: transparent;
  visibility: hidden;
  position: relative;
  cursor: pointer;
  margin-top: 20px;

  &:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    width: 2px;
    height: 2px;
    font-size: 2px;
    color: #181010;
    box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
      2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010,
      3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010,
      3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
      2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010,
      2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
  }
}

// disappear animation

@keyframes disappear {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
// flip animation
@keyframes flip {
  from {
    transform: rotateY(180deg);
    opacity: 0;
  }
}

// message appear animation{
@keyframes appear {
  from {
    opacity: 1;
  }
}

// bounce animation

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}
